/*
* File: index.hmtl
* Author: Kovács Dorina
* Copyright: 2022, Kovács Dorina
* Group: Szoft II/N
* Date: 2022-10-20
* Github: https://github.com/Kdorina/
* Licenc: GNU GPL
*/ 

#aOldal{
    border-radius: 5px;
}
#bOldal{
    border-radius: 5px;
}
#cOldal{
    border-radius: 5px;
}
#dOldal{
    border-radius: 5px;
}
.szamit{
    margin-top: 0px;
    background-color: #a0afcb;
    padding: 20px;
    width: fit-content;
    border-radius: 20px;
}


h3{
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
}
p{
    float: left;
    margin-left: 14px;
}

#calc{
    background-color: #000000;
    padding: 8px;
    border: 0px ;
    border-radius: 8px;
    color: white;
    
    }   
#calc:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);

   
}

#eredmeny{
background-color: #ffffff;
border-radius: 5px;
}